@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Garantir que a aplicação ocupe a tela toda */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Cor de fundo e texto padrão */
body {
  @apply bg-gray-50 text-gray-800 antialiased;
}

/* Scrollbar moderna (opcional) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1; /* gray-300 */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; /* gray-400 */
}